.wrapper {
	display: flex;
	width: 100%;
	aspect-ratio: 5;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.assignmentOne,
.assignmentTwo,
.assignmentThree {
  display: flex;
  flex-direction: column;
  gap: 20px;
	width: 50%;
}
